<html>
<head>
  <title>Test</title>
  <style>
    body {
      background-color: #f7f7f7;
    }
    table ,td, th, tr{
        border: 2px solid black;
        border-collapse: collapse;
        margin-left: auto;
        margin-right: auto;
    }
  </style>
</head>
<body>
    <h1 style="text-align: center;">Attendance Report</h1>
    <p>Student:- {{stud1}}</p>
    <p>Course:- {{cr}}</p>
    <p>Downloaded Date:- {{d2}}</p>

    <table>
        <thead>
          <tr>
              <th>No.</th>
              <th>Date</th>
              <th>Day</th>
              <th>Status</th>
               
          </tr>
        </thead>
        <tbody>
              {% for a in att_list %}
              <tr class="row100 body">
                  <td>{{ forloop.counter }}</td>
                  <td>{{ a.date }}</td>
                  <td name="day">{{ a.date|date:"l" }}</td>
                  {% if a.status %}
                  <td class="p-3 mb-2 bg-success text-white">Present <span class="glyphicon glyphicon-thumbs-up"></span></td>
                  {% else %}
                  <td class="p-3 mb-2 bg-danger text-white">Absent <span class="glyphicon glyphicon-thumbs-down"></span</td>
                  {% endif %}
              </tr>
          {% empty %}
                  <p>student has no attendance</p>
          {% endfor %}

        </tbody>
      </table>
</body>
</html>